html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
}
h1, h3 {
    font-size: 4vw;
    text-transform: uppercase;
}
h3 {
    text-align: center;
}

p {
    font-size: 21px;
}

.fullScreen {
    width: 100%;
    min-height: 50vh;
    /* background-color: #ccc; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.screenWrapper {
    width: 80%;
    background-color: none;
}
